<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pago</title>
</head>
<body>
    <div class="containerP">
        <div class="form-wrapper">
          <div class="five col">
            <div class="title">
              <h2>Checkout</h2>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/IPhone_7_Jet_Black.svg/200px-IPhone_7_Jet_Black.svg.png" alt="iPhone">
              <p class="item">iPhone</p>
              <p class="price">150.000</p>
            </div>
          </div>
          <div class="seven col">
            <form class="form">
              <input type="text" name="name" id="name" placeholder="Name">
              <input type="text" name="card" id="card" placeholder="Card Number">
              <div class="edate">
                <p>Vencimiento:</p>
                <div class="select-wrapper">
                  <select>
                    <option value="january">Enero</option>
                    <option value="febuary">Febrero</option>
                    <option value="march">Marzo</option>
                    <option value="april">Abril</option>
                    <option value="may">Mayo</option>
                    <option value="june">Junio</option>
                    <option value="july">Julyio/option>
                    <option value="august">Agosto</option>
                    <option value="september">Septiembre</option>
                    <option value="october">Octubre</option>
                    <option value="november">Noviembre</option>
                    <option value="december">Diciembre</option>
                  </select>
                </div>
                <div class="select-wrapper">
                  <select>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                  </select>
                </div>
              </div>
              <div class="submit-wrapper">
                <input class="submit" type="submit" value="Confirmar pago">
              </div>
            </form>
          </div>
        </div>
      </div>
</body>
</html>